DJANGO_SECRET_KEY=change-me

SITE_URL=https://brimoon.es
PUBLIC_BASE_URL=https://brimoon.es
APP_DOWNLOAD_URL=https://brimoon.es/app/

DB_ENGINE=django.db.backends.postgresql
DB_NAME=brimoon
DB_USER=brimoon
DB_PASSWORD=change-me
DB_HOST=127.0.0.1
DB_PORT=5432
DB_CONN_MAX_AGE=60
